h1{
    font-family: 'Oswald', sans-serif;
}
.orenge-spam{
    color: darkorange;
}
.flexiable{
    display: flex;
    
}
.flexiable-div{
width: 50%;
margin-left: 2%;
padding-left: 3%;
}

.flexiable-div img{
    width: 70%;
}
.style-div{
    margin-top: 5%;
    padding-top: 2%;

}
.button{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(red,tomato);
    border-radius: 7px;
    width: 20%;
    text-align: center;
    padding: 2px 10px;
    margin-top:  50%;;
    
}
.cover-photo{
background-image: url(images/shapes/Frame\ 58.jpg);
background-repeat: no-repeat;
margin-top: 0;
border-radius: 2%;
padding-bottom: 2%;
margin-bottom: 3%;
}
.cover-photo2{
background-image: url(images/shapes/7.png);
border-radius: 5px;
background-repeat: no-repeat;
}
#second-div{
padding-right: 5%;
padding-top: 15%;
margin-right: 3%;
}
#color-heading{
    color: hotpink;
    

}
