.head{
    text-align: center;
    background-image: url(images/download.jpg);
    border-radius: 15px;
    color:rgb(213, 47, 255);
}


h1{
    font-family: 'Oswald', sans-serif;
}
.orenge-spam{
    color: darkorange;
}
.flexiable{
    display: flex;
    
}
.flexiable-div{
width: 50%;
margin-left: 2%;
padding-left: 3%;
}

.flexiable-div img{
    width: 70%;
}
.style-div{
    margin-top: 5%;
    padding-top: 2%;

}
.button{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(red,tomato);
    border-radius: 7px;
    width: 20%;
    text-align: center;
    padding: 5px 10px;
    
    
}
.cover-photo{
background-image: url(images/shapes/Frame\ 58.jpg);
background-repeat: no-repeat;
margin-top: 0;
border-radius: 2%;
padding-bottom: 2%;
margin-bottom: 3%;
}
.cover-photo2{
background-image: url(images/shapes/7.png);
border-radius: 5px;
background-repeat: no-repeat;
}
#second-div{
padding-right: 5%;
padding-top: 15%;
margin-right: 3%;
}
#color-heading
{
    color: hotpink;
    }
#paragraph{
margin-bottom: 08%;
}
#paragraph-one{
    margin-bottom: 05%; 
}
.etra-flex{
    display: flex;
    margin-top: 4%;
    margin-left: 05%;
    margin-right: 05%;
}
.extra-part1{
    padding-left:15% ;
    padding-right: 10%;
}
.extra-part2{
    padding-left:10% ;
    padding-right: 10%;
}
.extra-part3{
    padding-left:13% ;
    padding-right: 10%;
}
.extra-part-shadow{
    border-radius: 15px;
    box-shadow: 10px 10px 30px gray;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-color{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 5%;
     padding-top: 2%;
     padding-bottom: 2%;
    
    
}
.love{
    color: red;
}
#footer-color-spam{
    color: rgb(0, 236, 0);

}
.recipies{
    margin-top: 5%;
    text-align: center;
    
}
.recipies-one{
    margin-left: 20%;
    margin-right: 20%;
}
#flexiable{
display: flex;
margin-top: 4%;

}
.recipies-style{
    width: 30%;
    padding-right: 2%;
    box-shadow: 10px 10px 30px gray;
    border-radius: 10px;
    border: 15px white solid;

}
.recipies-style img{
    width: 110%;
}
.div-style{
margin-left: 10px;
margin-right: 10px;
}
#fixid{
margin-left: 0;
}
